@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #12486b, #419197);
}

input::placeholder,
input {
  text-align: center;
}
